<form id="login-form" action="/auth/login" method="post">
  <div>
    <label for="email">Email</label>
    <input id="email" type="email" name="email" required autofocus />
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required />
  </div>
  <a id="join" href="/join">Register</a>
  <button id="login" type="submit">Login</button>
</form>