<form action="/page/board" method="get" style="text-align: end">
  <input type="text" name="search" />
  <br />
  <select name="option" required autofocus>
    <option value="content">본문</option>
    <option value="author">작성자</option>
  </select>
  <input type="submit" value="검색" />
</form>
