<div>
  <%= "안녕하세요! " + user.nickname + "님" %>
</div>
<input id="my-id" type="hidden" value="<%= user.id %>" />
<a id="my-profile" href="/messageList">Message List</a>
<a id="logout" href="/auth/logout">Logout</a>