* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  top: 0;
  text-align: center;
}
footer {
  bottom: 0;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
  resize: none;
}
#login-form {
  padding: 10px;
  text-align: left;
}
#join-form {
  padding: 10px;
  text-align: left;
}
.pages {
  text-align: right;
}
.post-form {
  text-align: center;
}
.posts,
table {
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
}
td {
  padding: 5px;
}
