<%- contentFor("contents") %>
<form id="join-form" action="/auth/join" method="post">
  <div>
    <label for="join-email">Email</label>
    <input id="join-email" type="email" name="email"></div>
  <div>
    <label for="join-nick">Nickname</label>
    <input id="join-nick" type="text" name="nick"></div>
  <div>
    <label for="join-password">Password</label>
    <input id="join-password" type="password" name="password">
  </div>
  <button id="join-btn" type="submit">Register</button>
</form>

<%- contentFor("scripts") %>
<script>
  window.onload = () => {
    if (new URL(location.href).searchParams.get('error')) {
      alert('Aleady exist');
    }
  };
</script>