<%- contentFor("scripts") %>

<%- contentFor("contents") %>
<div class="timeline">
  <div class="followings half">
    <h2>메시지 목록</h2>
    <% if (user.messages) {%>
    <% for (message in user.messages) {%>
    <div><%= message.nick %></div>
    <% } %>
    <% } %>
  </div>
</div>